.navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #733ab8;
}

.ContentBox {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
}

.logo {
  position: absolute;
  width: 125px;
  top: 0;
  height: 125px;
  filter: drop-shadow(6px 6px 5px rgb(105, 0, 119));
  cursor: pointer;
  align-self: center;
}

.nav {
  width: 400px;
  height: 75px;
  justify-content: space-around;
  display: flex;
}

.navItemBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navItems {
  width: auto;
  padding: 15px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000000;
  border-radius: 50px;
}

.menu {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  gap: 45px;
}

.menu.active {
  transform: translateX(0);
}



@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 10;
  }

  .menu.active {
    right: 0;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    margin: 20px 0;
  }

  .menu li .a {
    font-size: 24px;
    color: white;
  }
}